@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-perspective: 12rem;
  -moz-perspective: 12rem;
  -ms-perspective: 12rem;
  -o-perspective: 12rem;
  perspective: 12rem;
  z-index: 99999;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .pace.pace-inactive .pace-progress {
    display: none; }
  .pace .pace-progress {
    z-index: 99999;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6rem;
    width: 6rem !important;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    background: rgba(82, 121, 188, 0.8);
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    text-align: center;
    -webkit-animation: pace-theme-center-circle-spin linear infinite 2s;
    -moz-animation: pace-theme-center-circle-spin linear infinite 2s;
    -ms-animation: pace-theme-center-circle-spin linear infinite 2s;
    -o-animation: pace-theme-center-circle-spin linear infinite 2s;
    animation: pace-theme-center-circle-spin linear infinite 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .pace .pace-progress:after {
      content: attr(data-progress-text);
      display: block; }

@-webkit-keyframes pace-theme-center-circle-spin {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg); } }

@-moz-keyframes pace-theme-center-circle-spin {
  from {
    -moz-transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(360deg); } }

@-ms-keyframes pace-theme-center-circle-spin {
  from {
    -ms-transform: rotateY(0deg); }
  to {
    -ms-transform: rotateY(360deg); } }

@-o-keyframes pace-theme-center-circle-spin {
  from {
    -o-transform: rotateY(0deg); }
  to {
    -o-transform: rotateY(360deg); } }

@keyframes pace-theme-center-circle-spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

/******************** back ********************/
@-webkit-keyframes back {
  0% {
    transform: scale(0, 0) rotate(322deg); }
  100% {
    transform: scale(1, 1) rotate(-38deg); } }

@-moz-keyframes back {
  0% {
    transform: scale(0, 0) rotate(322deg); }
  100% {
    transform: scale(1, 1) rotate(-38deg); } }

@-o-keyframes back {
  0% {
    transform: scale(0, 0) rotate(322deg); }
  100% {
    transform: scale(1, 1) rotate(-38deg); } }

@keyframes back {
  0% {
    transform: scale(0, 0) rotate(322deg); }
  100% {
    transform: scale(1, 1) rotate(-38deg); } }

/******************** front ********************/
@-webkit-keyframes front {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(-38deg); }
  20% {
    opacity: 1;
    transform: scale(0, 0) rotate(-38deg); }
  100% {
    transform: scale(1, 1) rotate(322deg); } }

@-moz-keyframes front {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(-38deg); }
  20% {
    opacity: 1;
    transform: scale(0, 0) rotate(-38deg); }
  100% {
    transform: scale(1, 1) rotate(322deg); } }

@-o-keyframes front {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(-38deg); }
  20% {
    opacity: 1;
    transform: scale(0, 0) rotate(-38deg); }
  100% {
    transform: scale(1, 1) rotate(322deg); } }

@keyframes front {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(-38deg); }
  20% {
    opacity: 1;
    transform: scale(0, 0) rotate(-38deg); }
  100% {
    transform: scale(1, 1) rotate(322deg); } }

/******************** letter ********************/
@-webkit-keyframes letter {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  50% {
    opacity: 1;
    transform: scale(0, 0); }
  90% {
    transform: scale(1.1, 1.1); }
  100% {
    transform: scale(1, 1); } }

@-moz-keyframes letter {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  50% {
    opacity: 1;
    transform: scale(0, 0); }
  90% {
    transform: scale(1.1, 1.1); }
  100% {
    transform: scale(1, 1); } }

@-o-keyframes letter {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  50% {
    opacity: 1;
    transform: scale(0, 0); }
  90% {
    transform: scale(1.1, 1.1); }
  100% {
    transform: scale(1, 1); } }

@keyframes letter {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  50% {
    opacity: 1;
    transform: scale(0, 0); }
  90% {
    transform: scale(1.1, 1.1); }
  100% {
    transform: scale(1, 1); } }

body {
  font-family: "Open Sans", Arial, sans-serif; }

/* this h1-h3 headings are hidden just for semantic markup html5 */
.hidden {
  display: none !important; }

/* carousel */
.owl-theme .owl-dots .owl-dot span {
  background: #869791; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #D6D6D6; }

.owl-carousel {
  color: #ffffff;
  padding-top: 5rem;
  background-color: #352f44; }

.item {
  height: 25rem; }

#owl-img-1, #owl-img-2, #owl-img-3 {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 20rem;
  right: 4rem;
  -webkit-background-size: 35%;
  background-size: 35%;
  background-repeat: no-repeat; }

#owl-img-1 {
  background-image: url(../images/iphone-2.png); }

#owl-img-2 {
  background-image: url(../images/iphone-1.png); }

#owl-img-3 {
  background-image: url(../images/slide_5.jpg); }

@media screen and (max-width: 768px) {
  .owl-carousel .item {
    height: 20rem; }
  #owl-img-1, #owl-img-2, #owl-img-3 {
    right: 20rem;
    top: 25rem;
    -webkit-background-size: 60%;
    background-size: 60%;
    position: relative;
    margin: -10rem 0 0 0; } }

/*# sourceMappingURL=main.css.map */