@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-family: "Open Sans", Arial, sans-serif;
$font-base: 1rem !important;
$line-height: 1.5;
$main-color: #403b4f;
$main-color-light: #8B7FAC;
$main-heading-color: #ff8600;
$body-bg-color: #b8babc;
$section-bg-color: #ffffff;
$link-color: #ff7a00;
$link-color-hover: #ffffff;